@model IEnumerable<EfWebTutorial.Models.Student>

<div class="students">
    <div class="container">
        @if (Model != null)
        {
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Surname</th>
                        <th scope="col">Group</th>
                        <th scope="col">Faculty</th>
                        <th scope="col">Delete</th>
                        <th scope="col">Edit</th>


                    </tr>
                </thead>
                <tbody>
                    <tr>
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td>@item.Name</td>
                            <td>@item.Surname</td>
                            <td>@item?.Group?.Name</td>
                            <td>@item?.Group?.Faculty?.Name</td>
                            <td>
                                <form asp-controller="Student" asp-action="Delete" method="post" asp-route-id="@item.Id">
                                    <input type="submit" value="Delete" class="btn" typeof="button" />
                                </form>
                            </td>
                            <td>
                                <a href="/Student/Edit/@item.Id" class="btn">
                                    Edit
                                </a>
                            </td>
                        </tr>
                        }
                    </tr>
                </tbody>
            </table>
            
          
        }
        else
        {

            <div>
                <div class="view_bag">
                    @ViewBag.Message
                </div>
            </div>
        }
      

       
      
        <a href="@Url.Action("Create", "Student")" class="btn">
            Add Student
        </a>

        <a href="@Url.Action("GetSortedStudentsByName", "Student")" class="btn">
            Sort students by their names
        </a>
     
      
    </div>
</div>


<@*th>@item?.Group?.Name</th>*@